* {
  margin: 0px;
  padding: 0px;
}

label,
input {
  display: block;
  line-height: 30px;
  height: 30px;
  outline: none;
  font-size: 13pt;
  width: 100%;
}

form {
  width: 330px;
  background-color: #4b0082;
  color: #ffffff;
  padding: 20px;
  margin: 120px auto;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
}

h2 {
  text-align: center;
}

#background {
  background-color: #4b0082;
  padding: 20px;
  height: 25px;
}

#header-lado-esquerdo {
  display: block;
  color: #ffffff;
  float: left;
  width: 95%;
}

#header-lado-direito {
  width: 5%;
  height: 50px;
  float: left;
  align-items: center;
}

#esquerda {
  width: 35%;
  float: left;
}

#direita {
  width: 65%;
  float: left;
}

table {
  background-color: #dcb7f7;
  width: 90%;
  margin: 120px auto;
}

tr {
  line-height: 30px;
}

tr:hover {
  cursor: pointer;
}

tr#titulo {
  font-weight: bold;
  background-color: #4b0082;
  color: #ffffff;
}

td {
  padding: 0px 5px;
}

a {
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
}
